<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/weather_schema?serverTimezone=UTC</property>
        <property name="connection.username">weather_user</property>
        <property name="connection.password">weather_user1</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.sda.location.Location"/>
        <mapping class="com.sda.forecast.Forecast"/>
    </session-factory>
</hibernate-configuration>
